<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appSettings>
    <add key="APP_ID" value="lu.fournux.vkbasalt.configurator" />
    <add key="APP_VERSION" value="0.1" />
    <add key="APP_SHORT_NAME" value="vkbasalt_configurator" />
    <add key="APP_DISPLAY_NAME" value="vkbasalt-configurator" />
  </appSettings>
</configuration>
